{% extends 'base.html.twig' %}

{% block contenu %}
<h1>Bienvenue sur Prostages !</h1>

<p>
  Cette page présentera bientôt toutes les propositions de stages susceptibles de vous être utiles durant votre formation à l'IUT.
Vous trouverez ci-dessous les dernières offres ajoutées sur Prostages.
</p>
<ul>
  <li>
    <a href="{{path('pro_stages-stages',{id:5})}}">Stage 1</a>
  </li>
  <li>
    <a href="{{path('pro_stages-stages',{id:152})}}">Stage 1</a>
  </li>
  <li>
    <a href="{{path('pro_stages-stages',{id:726})}}">Stage 1</a>
  </li>
    <li>
    <a href="{{path('pro_stages-stages',{id:5})}}">Stage 1</a>
  </li>
  <li>
    <a href="{{path('pro_stages-stages',{id:152})}}">Stage 1</a>
  </li>
  <li>
    <a href="{{path('pro_stages-stages',{id:726})}}">Stage 1</a>
  </li>
    <li>
    <a href="{{path('pro_stages-stages',{id:5})}}">Stage 1</a>
  </li>
  <li>
    <a href="{{path('pro_stages-stages',{id:152})}}">Stage 1</a>
  </li>
  <li>
    <a href="{{path('pro_stages-stages',{id:726})}}">Stage 1</a>
  </li>
</ul>
<ul>
  <li>
    <a href="{{path('pro_stages-stages',{id:5})}}">Stage 1</a>
  </li>
  <li>
    <a href="{{path('pro_stages-stages',{id:152})}}">Stage 1</a>
  </li>
  <li>
    <a href="{{path('pro_stages-stages',{id:726})}}">Stage 1</a>
  </li>
    <li>
    <a href="{{path('pro_stages-stages',{id:5})}}">Stage 1</a>
  </li>
  <li>
    <a href="{{path('pro_stages-stages',{id:152})}}">Stage 1</a>
  </li>
  <li>
    <a href="{{path('pro_stages-stages',{id:726})}}">Stage 1</a>
  </li>
    <li>
    <a href="{{path('pro_stages-stages',{id:5})}}">Stage 1</a>
  </li>
  <li>
    <a href="{{path('pro_stages-stages',{id:152})}}">Stage 1</a>
  </li>
  <li>
    <a href="{{path('pro_stages-stages',{id:726})}}">Stage 1</a>
  </li>
</ul>
{% endblock %}
