{% extends 'base.html.twig' %}

{% block contenu %}
<h1>Bienvenue sur Prostages !</h1>
{% block titrePage %}
<h1>Les des stages </h1>
{% endblock %}

{% block contenuPage %}
<p>
  Cette page présentera bientôt toutes les propositions de stages susceptibles de vous être utiles durant votre formation à l'IUT.
Vous trouverez ci-dessous les dernières offres ajoutées sur Prostages.
</p>
<ul>
  <li>
    <a href="{{path('pro_stages-stages',{id:5})}}">Stage 10</a>
  </li>
  <li>
    <a href="{{path('pro_stages-stages',{id:152})}}">Stage 11</a>
  </li>
  <li>
    <a href="{{path('pro_stages-stages',{id:726})}}">Stage 12</a>
  </li>
    <li>
    <a href="{{path('pro_stages-stages',{id:5})}}">Stage 13</a>
  </li>
  <li>
    <a href="{{path('pro_stages-stages',{id:152})}}">Stage 14</a>
  </li>
  <li>
    <a href="{{path('pro_stages-stages',{id:726})}}">Stage 15</a>
  </li>
    <li>
    <a href="{{path('pro_stages-stages',{id:5})}}">Stage 16</a>
  </li>
  <li>
    <a href="{{path('pro_stages-stages',{id:152})}}">Stage 17</a>
  </li>
  <li>
    <a href="{{path('pro_stages-stages',{id:726})}}">Stage 18</a>
  </li>
</ul>
<ul>
  <li>
    <a href="{{path('pro_stages-stages',{id:5})}}">Stage 1</a>
  </li>
  <li>
    <a href="{{path('pro_stages-stages',{id:152})}}">Stage 2</a>
  </li>
  <li>
    <a href="{{path('pro_stages-stages',{id:726})}}">Stage 3</a>
  </li>
    <li>
    <a href="{{path('pro_stages-stages',{id:5})}}">Stage 4</a>
  </li>
  <li>
    <a href="{{path('pro_stages-stages',{id:152})}}">Stage 5</a>
  </li>
  <li>
    <a href="{{path('pro_stages-stages',{id:726})}}">Stage 6</a>
  </li>
    <li>
    <a href="{{path('pro_stages-stages',{id:5})}}">Stage 7</a>
  </li>
  <li>
    <a href="{{path('pro_stages-stages',{id:152})}}">Stage 8</a>
  </li>
  <li>
    <a href="{{path('pro_stages-stages',{id:726})}}">Stage 9</a>
  </li>
</ul>
{% endblock %}

{% endblock %}
